<%= render partial: 'layouts/header' %>

<%= month_calendar(attribute: :date) do |date| %>
  <%= date.day %><br>
  <p class="text-danger"><%= @calendar_data[date]%><br></p>
  <p class="text-muted"><%= @calendar_daydata[date]%><br></p>
  <p class="text-primary"><%= @calendar_budgets[date] %><br></p>
  
<% end %>


<%= render partial: 'layouts/footer' %>