<%= render partial: 'layouts/header' %>

<%= month_calendar(attribute: :date) do |date| %>
  <%= date.day %><br>
  <p class="text-danger"><%= @expense_data[date.to_date] || 0 %></p>
  <p class="text-warning"><%= @expense_per_day[date.to_date]|| 0 %></p>
  <p class="text-secondary"><%= @budget[date.to_date] || 0 %></p>
<% end %>

<%= render partial: 'layouts/footer' %>


