<%= render partial: 'layouts/header' %>


<div class="container">
<div class="col-auto">
<div class="row align-items-center">
<%= form_with model: @expense, url: expenses_path, data: { turbo: false }, local: true do |f| %>
  <div class="center-block">
  <div class="w-70">
  
  <div class="form-group ">
    <%= f.label :date, "支出日", class: 'control-label' %>
    <%= f.date_select :date, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :category2_id, "支出のカテゴリー" %>
    <%= f.collection_select(:category2_id, Category2.all, :id, :name, {}, { class: "form-control", id: "item-category" }) %>
  </div>
  <div class="form-group">
    <%= f.label :expense_amount, "支出額" %>
    <%= f.text_field :expense_amount, class: "form-control", placeholder: "支出額を入力してください" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "送信", class: "btn btn-outline-success" %>
  </div>
  </div>
   </div>
<% end %>
</div>
</div>
</div>




<%= render partial: 'layouts/footer' %>