<%= render partial: 'layouts/header' %>

<div class="container">
  <%= form_with model: @expenseday, url: expense_days_path, data: { turbo: false }, local: true do |f| %>
  <div class="d-flex align-items-center">
  <div class="w-75">
    <div class="form-group">
     <h3 class="my-0 fw-normal text-warning">Daily Expenses</h3>
     <p>Record daily shopping at supermarkets, pharmacies, etc.!</p>
      <%= f.date_select :date, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :expense_amount,"Amount" %>
      <%= f.text_field :expense_amount, class: "form-control", placeholder: "How much will you spend?" %>
    </div>
    
    <div class="form-group">
      <%= f.label :selected_days, "how many days" %><br>
      <%= f.select :selected_days, options_for_select((1..15).to_a), class: "form-control" %>
    </div><br>
    
    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-outline-primary" %>
    </div>
    </div>
    </div>
  <% end %>
</div>



<%= render partial: 'layouts/footer' %>