<%= render partial: 'layouts/header' %>

<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h2 class="my-0 fw-normal">can use</h2>
        </div>
        
          <div class="card-body">
            <h1 class="display-5 fw-bold text-body-emphasis"><%= @budget_per_day - ( @expenses + @per_day ) %>円</h1>
            <ul class="list-unstyled mt-6 mb-4">
              <li>Don't spend more</li>
              <li>for your future!</li>
              <li>Today's actions</li>
              <li>create the future!</li>
            </ul>
          </div>
      
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Expense Today</h4>
        </div>
        <div class="card-body">
        
            <h1 class="card-title pricing-card-title"><%= @expenses %><small class="text-body-secondary fw-light">円</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>By saving money,</li>
              <li>we can develop</li>
              <li>the most important </li>
              <li>all habits: frugality</li>
            </ul>
        
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Daily Expense</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><%= @per_day  %><small class="text-body-secondary fw-light">円</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Poor people are always saying, </li>
              <li>'Let's buy something </li>
              <li>as a reward for working hard</li>
              <li>working hard'</li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Budget</h4>
        </div>
        <div class="card-body">
        
            <h1 class="card-title pricing-card-title"><%=@budget_per_day%> <small class="text-body-secondary fw-light">円</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Not exceeding</li>
              <li>your daily budget is</li>
              <li>the first step</li>
              <li>in asset building.</li>
            </ul>
       
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <div class="container">
          <% if @budget_per_day.present? && @per_day.present? && @expenses.present? %>
            <% budget_difference = @budget_per_day - (@per_day + @expenses) %>
            <% if budget_difference >= 1000 %>
              <%= image_tag 'business_group_happy.png', alt: 'Positive Image', class: 'img-fluid' %>
            <% elsif budget_difference >= 0 %>
              <%= image_tag 'document_aseru_businessman.png', alt: 'Neutral Image', class: 'img-fluid' %>
            <% else %>
              <%= image_tag 'kabu_chart_man_cry.png', alt: 'Negative Image', class: 'img-fluid' %>
            <% end %>
          <% else %>
            <!-- 0の値がある場合の表示 -->
            <p>Your budget information is not available.</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Expense Today lists</h2>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <% @expenses_list.each do |expense| %>
            <a class="list-group-item list-group-item-action py-3 lh-sm">
              <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-10"><%= expense.category2.name %></strong>
              
              <h2 class="col-8 mb-1"><%= expense.expense_amount %></h2>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/footer' %>
