<%= render partial: 'layouts/header' %>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">あといくら？？？？</h1>
    
    <div class="col-lg-6 mx-auto">

      <div>あといくら使えんねん</div>
      <h1 class="display-5 fw-bold text-body-emphasis">
      <%=@today_budget - @total_expense_amount_today%>
      </h1>
      <div>今日の支出の合計値</div>
      <%= @total_expense_amount_today%>
      <div>今日の予算</div>
      <%=@today_budget%>

  
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Change the background</h2>
          <%= pie_chart Expense.group(:category2_id).sum(:expense_amount) %>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>今日の支出</h2>
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">List group</span>
    </a>
    
        <!-- 他のカラムの表示 -->
      
<div class="list-group list-group-flush border-bottom scrollarea">
  <% @expenses.each do |expense| %>
    <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1"><%= expense.category2.name%></strong>
        <small>Wed</small>
      </div>
    <div class="col-10 mb-1 small"><%= expense.expense_amount %></div>
    </a>
    <% end %>
</div>

          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

<%= render partial: 'layouts/footer' %>